{{> header}}{{!-- Atrae todo el contenido de header.hbs --}}
     {{> navbar}} {{!-- Aqui va lo que tiene el navbar.hbs --}}
     <div class="jumbotron">
          <p>Esta es mi primer sitio web con Node.js</p>

    <h3>SISTEMA SOLAR</h3>
    <p>
      <img src="sol.jpg" alt="Bird" width="200" height="200" align="left" /> {{!-- Aqui es para manipular las imagenes  --}}
        <br>El sistema solar es inmenso de tamaño y no podríamos recorrerlo entero en la vida que tenemos.<br/> No sólo existe un sistema solar en el universo, sino que hay millones de galaxias como la nuestra. El sistema solar pertenece a la galaxia conocida como Vía Láctea.<br />
    </p>  
    </div>

    
    
{{> footer}}